{% extends '@AdminInterface/Default/base-admin.html.twig' %}
{% block main_body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 bg-white">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Dashboard <small>Statistics overview</small></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading" role="heading">
                            <i class="fa fa-question-circle"></i> <strong>Welcome to your new Admin interface.</strong>
                        </div>
                        <div class="panel-body">
                            <p>For help and support, please contact vmocampo357@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <br />
{% endblock %}