{% extends '@AdminInterface/Default/base-admin.html.twig' %}
{% block main_body %}
    {#{{ dump(app.request.request) }}#}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Image Library <small>Create a new image for CMS Pages</small></h3>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <br />
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Image Nickname</h4>
                        <input name="image[nickname]" value="{{ image.nickname }}" type="text" class="form-control" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h4>Image (Raw)</h4>
                        <img src="{{ asset(image.source) }}" />
                        <input type="file" name="source" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default">Finish and Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascript %}{% endblock %}