{% extends '@AdminInterface/Default/base-admin.html.twig' %}
{% block stylesheets %}
    <style></style>
{% endblock %}
{% block main_body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>CMS Pages <small>Update your CMS page</small></h3>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('cms.pages.all') }}">Back to all pages</a>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <br />
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <h4>Page Title</h4>
                <input name="page[title]" type="text" class="form-control" value="{{ page.title }}" />
            </div>
            <div class="col-md-6">
                <h4>Page (Meta) Title</h4>
                <input name="page[metaTitle]" type="text" class="form-control" value="{{ page.metaTitle }}" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <textarea name="page[content]" style="height:600px;" id="page-content">{{ page.content }}</textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-info">Finish and Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascript %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=tlw2ypxglv76saqrvipf8krx8bkedeo4ojm5fd7liz9ih6lv"></script>
    <script>tinymce.init({
            selector:'#page-content',
            theme: 'modern',
            plugins: ['advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor']
        });</script>
    <script type="text/javascript">
        $(document).ready(function(e){});
    </script>
{% endblock %}